<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arnhemse Bomen Vertellen</title>
  <link rel="stylesheet" href="static/css/reset.css" />
  <link rel="stylesheet" href="static/css/interface.css" />
  <link rel="stylesheet" href="static/css/fonts.css" />
</head>
<body>
  <nav class="lang">
    <ul>
      <li>
        <a href="#nl" lang="nl">Nederlands</a>
      </li>
      <li>
        <a href="#en" lang="en">English</a>
      </li>    
    </ul>
  </nav>
  {% for translation in translations %}
    <section class="text" lang="{{ translation.language }}" id="{{ translation.language }}">
      <section>
        <h1>
          Arnhemse bomen vertellen
        </h1>
        <img src="{{ image }}" />
        <h2>{{ translation.tree.name }}</h2>
        {{ translation.tree.description|safe }}
      </section>
      <section data-name="story"></section>
      <section  class="about">
        {{ translation.about|safe }}
      </section>
    </section>
  {% endfor %}
  <script>
    window.tree_part_images = {{ images|tojson }};
  </script>
  <script>
    // Pseudo random number generation with seed
    // https://stackoverflow.com/a/47593316
    function mulberry32(a) {
      return function() {
        let t = a += 0x6D2B79F5;
        t = Math.imul(t ^ t >>> 15, t | 1);
        t ^= t + Math.imul(t ^ t >>> 7, t | 61);
        return ((t ^ t >>> 14) >>> 0) / 4294967296;
      }
    }

    // Pick item from a list using provided random number function.
    function pick (list, prng) {
      return list[
        Math.floor(prng() * (list.length - 0.1))
      ];
    }

    function getTime () {
      const time = new Date(),
            hour = time.getHours(),
            minutes = time.getMinutes();

      return hour + ':' + ((minutes < 10) ? '0' : '') + minutes;
    }

    function get_part_of_day () {
      const time = new Date(),
            hour = time.getHours();

      if (hour < 7) {
        return 'night';
      }
      else if (hour < 22) {
        return 'day';
      }
      else {
        return 'night';
      }
    }

    function insertStory(language, introduction, story, image_path) {
      const container = document.querySelector('section[lang="' + language + '"] [data-name="story"]');
      const introductionNode = document.createElement('p');
      const storyNode = document.createElement('p');
      const imgNode = document.createElement('img');

      imgNode.setAttribute('src', image_path)
      container.append(imgNode);

      // Make introduction line
      introductionNode.appendChild(document.createTextNode(introduction.replace('$', getTime())));
      container.appendChild(introductionNode);

      // Loop through story lines
      for (let line of story) {
        storyNode.appendChild(document.createTextNode(line));
        storyNode.appendChild(document.createElement('br'))
      }
      container.appendChild(storyNode);
      
    }

    const seed = Math.floor(Date.now() / 900000), // 900000 = 15 minutes in milliseconds.
                parts_of_tree = ['canopy', 'trunk', 'roots'],
                // Initiate pseudo random number generator with a seed
                // seed changes every 15 minutes to keep same story and image
                // for a while.
                prng = mulberry32(seed),
                part_of_day = get_part_of_day(),
                part_of_tree = pick(parts_of_tree, prng);
    
    document.body.classList.add(part_of_day);

    // Get list of sotiers.
    fetch('{{ stories_json_path }}')
      .then(function (response) {
        response.json()
        .then(function (stories) {
              let story, introduction;
              for (let language of ['nl', 'en']) {
                if (part_of_day == 'day') {
                  introduction = stories[language][part_of_day][part_of_tree]['introduction'];
                  story = pick(stories[language][part_of_day][part_of_tree]['stories'], prng)
                }
                else {
                  introduction = stories[language][part_of_day]['introduction'];
                  story = pick(stories[language][part_of_day]['stories'], prng)
                }
                image = pick(tree_part_images[part_of_tree], prng);
                insertStory(language, introduction, story, image);
              }
            });
        });
      var userLang = navigator.language || navigator.userLanguage; 
      document.body.setAttribute('lang', userLang.startsWith('nl') ? 'nl' : 'en');

      // Set event listeners for changing language
      for (let toggle of document.querySelectorAll('.lang a')) {
        toggle.addEventListener('click', function (e) {
          e.preventDefault();
          document.body.setAttribute('lang', toggle.getAttribute('lang'));
        });
      }

  </script>
</body>
</html>