{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arnhemse Bomen Vertellen</title>
  <link rel="stylesheet" href="{% static '/css/reset.css' %}">
  <link rel="stylesheet" href="{% static '/css/fonts.css' %}">
  <style>
    html {
      scroll-behavior: smooth;
      font-size: 1.2em;
      font-family: 'Authentic-sans-condensed';
    }

    body {
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-rows: 1fr min-content;
      position: fixed;
      inset: 0px;
      background: rgb(165, 165, 165)
    }

    iframe {
      width: 100%;
      max-width: 85ch;
      margin: auto;
      height: 100%;
      border: 0;
      background: white;
    }

    nav {
      padding: 1ch;
      border-top: 1px solid;
      background: white;
    }

    nav .spacer {
      flex: 1 0;
    }

    nav .nav-block {
      margin: auto;
      display: flex;
      max-width: 85ch;
    }

    input, button {
      font: inherit;
      padding: .5ch;
    }
  </style>
</head>
<body>
  <iframe data-src="{% url "guide" qr_id %}"></iframe>
  <nav>
    <div class="nav-block">
      <label>Installation at: <input type="datetime-local" min="2024-01-01T00:00" max="2025-01-01T00:00" /></label>
      <div class="spacer"></div>
      <div>
        <button data-hour-change="-24">-24h</button>
        <button data-hour-change="-1">-1h</button>
        <button data-hour-change="1">+1h</button>
        <button data-hour-change="24">+24h</button>
      </div>
    </div>
  </nav>
  <script>
    let inputField = document.querySelector('input');
    let buttons = document.querySelectorAll('[data-hour-change]');
    let iframe = document.querySelector('iframe');

    let ensureLeadZero = (n) => (n < 10) ? 0 + n.toString() : n.toString()

    inputField.addEventListener('change', () => {
      let date = new Date(inputField.value);
      let at = `${ ensureLeadZero(date.getDate()) }-${ ensureLeadZero(date.getMonth()+1) }-${ date.getFullYear() } ${ ensureLeadZero(date.getHours()) }:${ ensureLeadZero(date.getMinutes()) }`;
      let url = (iframe.contentWindow.location.href.startsWith('http')) ? iframe.contentWindow.location.href : iframe.dataset.src;
      iframe.src = asUrlWithAt(url, at);
    });

    // If input field is empty. Set a time.
    if (isNaN(inputField.valueAsNumber)) {
      inputField.value = '2024-04-20T00:00';
    }

    inputField.dispatchEvent(new Event("change"))

    function asUrlWithAt(url, at) {
      const regex = /\/at\/\d{2}-\d{2}-\d{4}(?:\s|%20)\d{2}:\d{2}\//d
      let match;

      if ((match = regex.exec(url)) !== null) {
        let [ start, end ] = match.indices[0];
        return url.substring(0, start) + '/at/' + at + '/' + url.substring(end);
      }
      else {
        return url + '/at/' + at + '/'
      }
    }

    buttons.forEach((button) => {
      let change = parseFloat(button.dataset.hourChange) * 1000 * 60 * 60;
      button.addEventListener('click', function () {
        inputField.valueAsNumber = inputField.valueAsNumber + change;
        inputField.dispatchEvent(new Event("change"))
      });
    })
  </script>
</body>
</html>