{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ installation.name }}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static '/css/interface.css' %}">

    {% if installation.slug == 'arnhem' %}
    <!-- opengraph:meta -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Arnhemse Bomen Vertellen" />
    <meta property="og:description" content="{% translate "Interactive art installation on trees in three Arnhem parks." %}">
    <meta property="og:image" content="https://arnhemsebomenvertellen.nl/static/img/card_01.png" />

    <!-- twitter:meta -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Arnhemse Bomen Vertellen" />
    <meta name="twitter:description" content="{% translate "Interactive art installation on trees in three Arnhem parks." %}" />
    <meta name="twitter:image" content="https://arnhemsebomenvertellen.nl/static/img/card_01.png" />
    {% endif %}

    {% block header %}{% endblock %}
</head>
<body class="{% block body_class%} {% if kiosk %}kiosk{% endif %} {% endblock %}">

    {# only include tab navigations if we are not in guide #}
    {% if not kiosk %}
        {% if menu_base or menu_tree %}
        <nav>
            {% if title %}
                <h1>{{title}}</h1>
            {% endif %}
            <ul>
            {% for li in menu_base %}
                <li><a class="back" href="{{li.1}}">{% translate li.0 %}</a></li>
            {% endfor %}
            </ul>
            {% if menu_tree %}
            <ul>
            {% for li in menu_tree %}
                <li {% if id == li.0 %}class="active"{% endif %}><a href="{{li.1}}">{% translate li.0 %}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
            {% if menu_back %}
            <ul>
            {% for li in menu_back %}
                <li><a class="back" href="{{li.1}}">{% translate li.0 %}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
        </nav>
        {% endif %}
    {% endif %}

    {% block content %}{% endblock %}

</body>
</html>
