{% load static mathfilters i18n l10n %}

<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CLOCK{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static '/css/interface.css' %}">
    <link rel="stylesheet" href="{% static '/css/clock.css' %}">
</head>
<body class="{% if kiosk %}kiosk{% endif %} clock-view">

{# ----- LEGEND ----- #}

<div class="legend">
    <!-- today's observations from inside to outside,  -->
    {% translate "Observaties van de laatste 24 uur, van binnen naar buiten:" %}
    <ul>
        <li class="soil humidity">
            <a href="/T/{{tree.qr_id}}/about/sensors/soil_moisture/" target="_blank">{% translate "moisture" %}</a></li>
        <li class="soil temperature">
            <a href="/T/{{tree.qr_id}}/about/sensors/soil_temperature/" target="_blank">{% translate "soil temperature" %}</a></li>
        {% if 'Douglas' in tree.local_name %}
            <li class="contact sapflow">
                <a href="/T/{{tree.qr_id}}/about/sensors/sapflow/" target="_blank">{% translate "sapflow" %}</a></li>
        {% else %}
            <li class="contact circular">
                <a href="/T/{{tree.qr_id}}/about/sensors/mouvement_trunk/" target="_blank">{% translate "circular increment" %}</a></li>
        {% endif %}
        <li class="air humidity">
            <a href="/T/{{tree.qr_id}}/about/sensors/air_humidity/" target="_blank">{% translate "air humidity" %}</a></li>
        <li class="air temperature">
            <a href="/T/{{tree.qr_id}}/about/sensors/air_temperature/" target="_blank">{% translate "air temperature" %}</a></li>
        <li class="air co2">
            <a href="/T/{{tree.qr_id}}/about/sensors/co2/" target="_blank">{% translate "co2" %}</a></li>
    </ul>
</div>

{# ----- CLOCK ----- #}

<div class="clock">
    {% for sensor_key, sensor_clock in tree.clock.items %}
    <div    class="layer {{sensor_clock.classes|join:' ' }}"
            style="--m: {{sensor_clock.remapped|length}};"
            data-min="{{sensor_clock.min|unlocalize}}" data-max="{{sensor_clock.max|unlocalize}}" 
            data-unit="{{sensor_clock.unit}}" data-average="{{sensor_clock.average|unlocalize}}" >
        {% for handle in sensor_clock.remapped %}
            <div    class="handle {% if handle.v < 0 %}negative{% endif %}"
                    data-value="{{handle.d}}"
                    data-time="{{handle.t}}"
                    title="{{handle.d}}{{sensor_clock.unit}} by {{sensor_key}} on {{handle.t}}"
                    style="

                    --s: {{handle.v|abs|unlocalize}}; 
                    --v: {{handle.v|unlocalize}};

                    --o: {{handle.o|unlocalize}};
                    --a: {{handle.a|unlocalize}};

                    --i: {{forloop.counter0}};
                    "></div>
        {% endfor %}
    </div>
    {% endfor %}
    <div    class="layer times">
        <div        class="handle now"
                    style="
                    --t: {{times.now.1}}
                    ">
           <span>{% translate "now" %} {#{{ times.now.0 }}#}</span>
        </div>
        <div        class="handle sunrise"
                    style="
                    --t: {{times.sunrise.1}}
                    ">
            <span>&#9728;&uarr; 
                {#{{times.sunrise.0}}#}
            </span>
        </div>
        <div        class="handle sunset"
                    style="
                    --t: {{times.sunset.1}}
                    ">
            <span>&#9728;&darr; 
                {#{{times.sunset.0}}#}
            </span>
        </div>
    </div>
    <div    class="layer rules">
        <div class="baseline"></div>
        <div class="plus1mm"></div>
        <div class="minus1mm"></div>
    </div>
</div>

</body>
</html>