{% extends "interface/base.html" %}
{% load static i18n %}

{% block title %}{{ block.super }}· {% translate "Data" %} · {% translate tree.local_name %}{% endblock %}
{% block body_class %}{{ block.super }} data{% endblock %}

{% block content %}
<main>
    <div id="time-toggles">
        <label>
            {% translate "Toon data van de laatste" %}
            <select id="select-time-range">
                <option value="{% if at %}{% url 'data' qr_id=tree.qr_id days=1 at=at %}{% else %}{% url 'data' qr_id=tree.qr_id days=1 %}{% endif %}{% if kiosk %}?kiosk=1{% endif %}" {% if days == 1 %} selected{% endif %}>{% translate "24 uur" %}</option>
                <option value="{% if at %}{% url 'data' qr_id=tree.qr_id days=3 at=at %}{% else %}{% url 'data' qr_id=tree.qr_id days=3 %}{% endif %}{% if kiosk %}?kiosk=1{% endif %}" {% if days == 3 %} selected{% endif %}>{% translate "3 dagen" %}</option>
                <option value="{% if at %}{% url 'data' qr_id=tree.qr_id days=7 at=at %}{% else %}{% url 'data' qr_id=tree.qr_id days=7 %}{% endif %}{% if kiosk %}?kiosk=1{% endif %}" {% if days == 7 %} selected{% endif %}>{% translate "7 dagen" %}</option>
            </select>
        </label>
    </div>
    <div id="graph-container"></div>
    <!-- <div id="time-selector" style="position: relative; top: -30px;"><input id="time-selector--slider" style="width: 100%" value="100" step=".25" type="range" min="0" max="100"></div> -->
    <div id="graph-legend-container">
    </div>
</main>
{{ sensor_data|json_script:"sensor-data" }}
{{ ticks|json_script:"ticks-data" }}
{{ graph_extent|json_script:"graph-extent-data"}}
<script>
    let select = document.getElementById('select-time-range');
    select.addEventListener('change', function () {
        document.location = this.value;
    })
</script>
<script src="{% static '/js/d3.js' %}"></script>
<script type="module">

    /**
     * Make entry for legend list.
     * Label element with a checkbox inside and a span
     * to show the color in.
     */


    const parseTime = d3.timeParse("%d-%m-%Y %H:%M:%S");
    const formatTime = d3.timeFormat("%-d-%-m %-H:%M");


    function multiFormat(date) {
        return (d3.timeDay(date) < date ? d3.timeFormat("%-H:%M") : d3.timeFormat("%-d-%-m"))(date);
    }

    function make_legend_entry (name, color, unit, format, checked) {
        const label = document.createElement('label'),
              input = document.createElement('input');

        label.classList.add('data-graph-legend-entry');
        label.style.color = color;
        input.setAttribute('type', 'checkbox');
        input.checked = checked;

        label.appendChild(input);
        let label_text = document.createElement('div')
        label.appendChild(label_text);
        
        return {
            el: label,
            set_label_value: function (value, timestamp) {
                let new_text = '';
                if (value != undefined && timestamp != undefined) {
                    new_text = `<span>${name}</span> <span>${format(value)}${unit}</span> <span>${formatTime(timestamp)}</span>`
                }
                else {
                    new_text = name;
                }
                
                label_text.innerHTML = new_text;
            }
        };
    }

    let sensor_list = JSON.parse(document.getElementById('sensor-data').textContent);
    let ticks = JSON.parse(document.getElementById('ticks-data').textContent).map(parseTime);
    let graph_extent = JSON.parse(document.getElementById('graph-extent-data').textContent).map(parseTime);
    
    const graph_container = document.getElementById('graph-container'),
          legend_container = document.getElementById('graph-legend-container'),
          unit_ranges = {
                '℃': [-5, 45],
                '°C': [-5, 45],
                'ppm': [400, 600],
                '%': [0, 50],
                '%RH': [0, 100],
                'SI': [0, 10],
                'hPa': [900, 1100],
                'Pa': [90000, 110000],
                'W⋅m⁻²': [0, 1200],
                'l⋅h⁻¹': [0, 2],
                'mm/24h': [0, 2],
                'mm': [0.75,1]
            },
        colors = {
                'circular increment': 'burlywood',
                /*--color-flow: goldenrod;*/
                'air temperature': 'hsl(280, 100%, 50%)',
                'temperature': 'hsl(340, 100%, 50%)',
                'co2': 'rgb(0,255,0)',
                'moisture': 'hsl(220, 100%, 50%)',
                'air humidity': 'rgb(0,255,255)',
                'sunlight': 'goldenrod'
            },
            sensor_formats = {
                'circular increment': {
                    'label': '{% translate "circular increment" %}',
                    'color': 'burlywood',
                    'unit': 'mm',
                    'range': (min, max) => {
                        const d = max - min,
                              dMin = .4;
                        
                        if (d < dMin) {
                            min = min - (dMin-d) * .5;
                            max = max + (dMin-d) * .5;
                        }
                        else {
                            min = min - (.1 * d);
                            max = max + (.1 * d);
                        }

                        return [min, max];
                    },
                    'format': d3.format('.3f'),
                    'enabled': true
                },
                'sapflow': {
                    'label': '{% translate "sapflow" %}',
                    'color': 'goldenrod',
                    'format': (v) => v,
                    'range': () => [0,1],
                    'unit': 'l⋅h⁻¹',
                    'enabled': true
                },
                'air temperature': {
                    'label': '{% translate "air temperature" %}',
                    'color': 'hsl(280, 100%, 50%)',
                    'unit': '°C',
                    'range': () => [-5, 45],
                    'format': (v) => v,
                    'enabled': false
                },
                'temperature': {
                    'label': '{% translate "temperature" %}',
                    'color': 'hsl(340, 100%, 50%)',
                    'unit': '°C',
                    'range': () => [-5, 45],
                    'format': (v) => v,
                    'enabled': false
                },
                'co2': {
                    'label': '{% translate "co2" %}',
                    'color': 'rgb(0,255,0)',
                    'unit': 'ppm',
                    'range': () => [400, 600],
                    'format': (v) => v,
                    'enabled': true
                },
                'moisture': {
                    'label': '{% translate "moisture" %}',
                    'color': 'hsl(220, 100%, 50%)',
                    'unit': '%',
                    'range': () => [0, 50],
                    'format': (v) =>v,
                    'enabled': false
                },
                'air humidity': {
                    'label': '{% translate "air humidity" %}',
                    'color': 'rgb(0,255,255)',
                    'unit': '%',
                    'range': () => [0, 100],
                    'format': (v) => v,
                    'enabled': false
                },
                'sunlight': {
                    'label': '{% translate "Sunlight (at douglas fir)" %}',
                    'color': 'rgb(165,152,120)',
                    'unit': 'W⋅m⁻²',
                    'range': () => [0, 1200],
                    'format': d3.format('.2f'),
                    'enabled': true
                }
            };

    
    // Transform timestamps to Date objects
    sensor_list = sensor_list.map(sensor => ({ ...sensor, 'serie': sensor.serie.map(observation => ({ ...observation, timestamp: parseTime(observation.timestamp) })) }));

    // Declare the chart dimensions and margins.
    const graph_container_rect = graph_container.getBoundingClientRect(),
          width = graph_container_rect.width,
          height = graph_container_rect.height,
          margin_top = 15,
          margin_right = 0,
          margin_bottom = 20,
          margin_left = 0,
          // Get date range in the observations
          all_timestamps = sensor_list.flatMap(sensor => sensor.serie.map(observation => observation.timestamp)),
        //   time_extent = d3.extent(all_timestamps),
          time_extent = graph_extent,
          x = d3.scaleTime(time_extent, [margin_left, width - margin_right]);

    // Create the SVG container.
    const svg = d3.create("svg")
        .attr("width", width)
        .attr("height", height)
        // .on("pointerenter", pointerentered)
        .on("pointermove", pointermoved)
        .on("click", pointermoved)
        .on("touchmove", pointermoved);
        // .on("pointerleave", pointerleft);

    // Add the x-axis.
    svg.append("g")
        .attr("transform", `translate(0,${height - margin_bottom})`)
        .call(d3.axisBottom(x).tickValues(ticks).tickFormat(multiFormat).tickSizeOuter(0));

    const day_lines = svg.append("g");
    const days = d3.timeDay.every(1).range(time_extent[0], time_extent[1]); // [2015-01-01T00:00, 2015-01-03T00:00, 2015-01-05T00:00]

    days.forEach(day => {
        let line_x = x(day);

        day_lines.append("line")
            .attr("x1", line_x)
            .attr("y1", margin_top)
            .attr("x2", line_x)
            .attr("y2", height - margin_bottom)
            .attr("stroke", 'grey')
            .attr("stroke-width", .25)
            .attr("stroke-dasharray", 1);
    })

    // const legend = svg.append("g")
    //     .attr("transform", `translate(0, 0)`);

    // Loop through sensor entries
    // add line to graph and entry in the legend
    const graph_lines = sensor_list.map((sensor, sensor_index) => {

        const color = sensor_formats[sensor.type].color,
              range = sensor_formats[sensor.type].range(sensor.min, sensor.max),
              y = d3.scaleLinear(range, [height - margin_bottom, margin_top]);
        // let y;

        // if (sensor.unit in unit_ranges) {
        //     y = d3.scaleLinear(
        //         [unit_ranges[sensor.unit][0], unit_ranges[sensor.unit][1]],
        //         // [sensor.range.min, sensor.range.max],
        //         [height - margin_bottom, margin_top]);
        // }
        // else {
        //     // Declare the y (vertical position) scale.
        //     y = d3.scaleLinear(
        //         [0,100],
        //         // [sensor.range.min, sensor.range.max],
        //         [height - margin_bottom, margin_top]);

        // }

        sensor_formats

        // Declare the line generator.
        const line = d3.line()
            .x(o => x(o.timestamp))
            .y(o => y(o.value));

        // Calculate x values for all entries in the dataset.
        // Used in cursor interaction.
        const x_values = d3.map(sensor.serie, o => x(o.timestamp));

        // Add the y-axis.
        // svg.append("g")
        //     .attr("transform", `translate(${marginLeft},0)`)
        //     .call(d3.axisLeft(y));

        // Append a path for the line.
        const graph_line = svg.append("path");
        graph_line.attr("fill", "none")
            .attr("stroke", color)
            .attr("stroke-width", 1)
            .attr("d", line(sensor.serie));

     
        const indicator = svg.append("g")
            .attr("pointer-events", "none");

        indicator.append("line")
            .attr("x1", 0)
            .attr("y1", margin_top)
            .attr("x2", 0)
            .attr("y2", height - margin_bottom)
            .attr("stroke", color)
            .attr("stroke-width", .5)
            .attr("stroke-dasharray", 4);

        const dot = svg.append("g")
            .attr("pointer-events", "none");

        dot.append("circle")
            .attr("r", 2.5)
            .attr("fill", color);

            
        
        const legend_entry = make_legend_entry(sensor_formats[sensor.type].label, color, sensor_formats[sensor.type].unit, sensor_formats[sensor.type].format, sensor_formats[sensor.type].enabled);
            legend_container.appendChild(legend_entry.el);   
            legend_entry.el.querySelector('input').addEventListener('change', function () {
                // Logic to hide or show line in the graph
                if (this.checked) {
                    graph_lines[sensor_index].visible = true;
                    graph_line.attr("display", "");
                    indicator.attr("display", "");
                    dot.attr("display", "");
                }
                else {
                    graph_lines[sensor_index].visible = false;
                    graph_line.attr("display", "none");
                    indicator.attr("display", "none");
                    dot.attr("display", "none");
                }
            });

        if (!sensor_formats[sensor.type].enabled) {
            graph_line.attr("display", "none");
            indicator.attr("display", "none");
            dot.attr("display", "none");
        }

        const set_legend_label = legend_entry.set_label_value;

        return {
            'x_values': x_values,
            'y': y,
            'serie': sensor.serie,
            'dot': dot,
            'indicator': indicator,
            'set_legend_label': set_legend_label,
            'visible': true
        }
    });

    

    const position_track = svg.append("line")
            .attr("x1", 0)
            // .attr("y1", height - margin_bottom)
            .attr("y1", margin_top)
            .attr("x2", width)
            // .attr("y2", height - margin_bottom)
            .attr("y2", margin_top)
            .attr("stroke", "black")
            .attr("stroke-width", 1);
            
    const position_track_indicator = svg.append("circle")
        .attr("cx", 0)
        .attr("cy", margin_top)
        // .attr("cy", height - margin_bottom)
        .attr("stroke", "black")
        .attr("stroke-width", 2)
        .attr("fill", "white")
        .attr("r", 8)
        .attr("filter", "drop-shadow(0px 0px 1px rgba(0, 0, 0, .5))");

    // Append the SVG element.
    graph_container.append(svg.node());

    // document.getElementById('time-selector--slider').addEventListener('change', function () {
    //     let x = width * this.value * 0.01;
    //     graph_lines.forEach(line => {
    //         if (line.visible) {
    //             const closest_observation_index = d3.least(d3.range(line.x_values.length), i => Math.abs(line.x_values[i] - x));
    //             const closest_observation = line.serie[closest_observation_index];
    //             if (closest_observation) {
    //                 line.dot.attr("transform", `translate(${line.x_values[closest_observation_index]},${line.y(closest_observation.value)})`);
    //                 line.indicator.attr("transform", `translate(${line.x_values[closest_observation_index]}, 0)`);
    //                 // line.valueLabel.text(closest_observation.value);
    //                 line.set_legend_label(closest_observation.value, closest_observation.timestamp)
    //             }
    //         }
    //     });
    // });
    

    function pointermoved(event) {
        const [xm, ym] = d3.pointer(event, svg);
        // document.getElementById('time-selector--slider').value = xm / width * 100;
        if (xm) {
            position_track_indicator.attr("transform", `translate(${xm},0)`);
            graph_lines.forEach(line => {
                if (line.visible) {
                    const closest_observation_index = d3.least(d3.range(line.x_values.length), i => Math.abs(line.x_values[i] - xm));
                    const closest_observation = line.serie[closest_observation_index];
                    if (closest_observation) {
                        line.dot.attr("transform", `translate(${line.x_values[closest_observation_index]},${line.y(closest_observation.value)})`);
                        line.indicator.attr("transform", `translate(${line.x_values[closest_observation_index]}, 0)`);
                        // line.valueLabel.text(closest_observation.value);
                        line.set_legend_label(closest_observation.value, closest_observation.timestamp)
                    }
                }
            });
        }
        // dateLabel.text(formatTime(closest_observation.timestamp))
    }

    // document.getElementById('time-selector--slider').value = 100;

    let x_positions = [];

    graph_lines.forEach(line => {
        if (line.visible) {
            const closest_observation_index = line.serie.length - 1;
            const closest_observation = line.serie[closest_observation_index];
            if (closest_observation) {
                let x = line.x_values[closest_observation_index],
                    y = line.y(closest_observation.value);
                x_positions.push(x);
                line.dot.attr("transform", `translate(${x},${y})`);
                line.indicator.attr("transform", `translate(${x}, 0)`);
                // line.valueLabel.text(closest_observation.value);
                line.set_legend_label(closest_observation.value, closest_observation.timestamp)
            }
        }
    });


    console.log(x_positions)

    position_track_indicator.attr("transform", `translate(${Math.max.apply(this,x_positions)}, 0)`)

</script>
{% endblock %}