{% extends "interface/base.html" %}
{% load i18n %}
{% block title %}{{ block.super }}· Gids · {{tree.local_name}}{% endblock %}
{% block body_class %}guide text{% endblock %}

{% block content %}
    <nav>
        <ul>
            {% for code, name in available_languages %}
                <li>
                    <form method="post" action="{% url 'set_language' %}">{% csrf_token %}<input type="hidden" name="language" value="{{ code }}" /><button type="submit">{{ name }}</button></form>
                </li>
            {% endfor %}
        </ul>
    </nav>

    {% for p in dialogue %}
       {% if forloop.first %}
            <h1  id="p-{{ forloop.counter0 }}">
                <a href="#p-{{ forloop.counter }}">
                    {{p|safe}}
                </a>
            </h1>
        {% else %}
            {% if not 'group' in p.0 %}
                <p  id="p-{{ forloop.counter0 }}">
                    <a href="#p-{{ forloop.counter }}">
                        {{p|safe}}
                    </a>
                </p>
            {% else %}
                <ul id="p-{{ forloop.counter0 }}" class="{{p.0}}">
                {% for li in p %}
                    {% if not forloop.first %}
                    <li>
                        {% if li|length == 2 %}
                            <a href="{{ li.1 }}">
                                {{li.0|safe}}
                            </a>
                        {% else %}
                            {{li|safe}}
                        {% endif %}
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    {% endfor %}
    <script>
        if (document.URL.split('#').length == 1){
            window.location = '#p-1';
        }
        let autoplay = setInterval(function(){
            let index = parseInt(window.location.hash.split('-')[1])
            if (index >= 6){
                clearInterval(autoplay);
            }
            else{
                window.location.hash = '#p-' + String(index + 1);
            }
        }, 3000);
    </script>
{% endblock %}
