{% extends "interface/base.html" %}
{% load static i18n %}

{% block title %}{{ block.super }}{% endblock %}
{% block body_class %}index{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{% static '/js/leaflet/leaflet.css' %}">
    <script src="{% static '/js/leaflet/leaflet.js' %}"></script>
{% endblock %}

{% block content %}

<div>

<!-- <nav>
    <ul>
        <li><a href="#nl">Nederlands</a></li>
        <li><a href="#en">English</a></li>
        <li><a href="#de">Deutsch</a></li>
    </ul>
</nav> -->
<nav id="language-switch">
    <ul>
        {% for code, name in available_languages %}
            <li>
                <form method="post" action="{% url 'set_language' %}">{% csrf_token %}<input name="next" type="hidden" value="/" /><input type="hidden" name="language" value="{{ code }}" /><button type="submit">{{ name }}</button></form>
            </li>
        {% endfor %}
    </ul>
</nav>
<div class="text">
    <div class="banner">
        <h1>{{ installation.name }}</h1>
        {% if installation.slug == 'arnhem' %}
            <img src="{% static '/img/sensors/ems2-600x.jpg' %}">
            <img src="{% static '/img/sensors/milesight-600x.jpg' %}">
            <img src="{% static '/img/sensors/sensoterra-600x.jpg' %}">
            <img src="{% static '/img/trees/eik1-600x.jpg' %}">
            <img src="{% static '/img/trees/beuken-600x.jpg' %}">
            <img src="{% static '/img/trees/3watchers-600x.jpg' %}">
        {% endif %}
    </div>

    <section>{{ article|safe }}</section>

</div>
</div>

<div class="index-map" id="map" data-map-style="map">
    <div class="new-control" id="switch-to-aerial">{% translate "Toon luchtfoto" %}</div>
    <div class="new-control" id="switch-to-map" hidden>{% translate "Toon kaart" %}</div>
</div>

{{ focus|json_script:"focus" }}
{{ trees_data|json_script:"trees-data" }}
{{ poi_data|json_script:"poi-data" }}
{{ walk_data|json_script:"walk-data" }}
{{ label_data|json_script:"label-data" }}

<script src="{% static '/js/map.js' %}"></script>

{% endblock %}