{% extends "interface/base.html" %}
{% load static i18n %}

{% block title %}{{ block.super }}· Kaart · {{tree.local_name}}{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{% static '/js/leaflet/leaflet.css' %}">
    <script src="{% static '/js/leaflet/leaflet.js' %}"></script>
{% endblock %}

{% block body_class %}map-view{% endblock %}
{% block content %}

    <div id="interpolation-selector">
        guide me to the the tree with most <br/>
        <select>
            {% for sensor_type in interpolated_sensor_types %}
                <option value="{% url "map_interpolated_sensor_type" tree.pk sensor_type %}"{% if sensor_type == interpolated_data.type %} selected{%endif%}>{{ sensor_type }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="app-map" id="map" data-map-style="map">
        <div class="new-control" id="switch-to-aerial">{% translate "Toon luchtfoto" %}</div>
        <div class="new-control" id="switch-to-map" hidden>{% translate "Toon kaart" %}</div>
        <div id="interface-map-legend">Niet&nbsp;rolstoeltoegankelijk &bull; Not&nbsp;wheelchair&nbsp;accessible &bull; Nicht&nbsp;behindertengerecht</div>
    </div>

    {{ focus|json_script:"focus" }}
    {{ trees_data|json_script:"trees-data" }}
    {{ poi_data|json_script:"poi-data" }}
    {{ walk_data|json_script:"walk-data" }}
    {{ walk_short_data|json_script:"walk-short-data" }}
    {{ walk_wheel_data|json_script:"walk-wheel-data" }}
    {{ label_data|json_script:"label-data" }}

    <script src="{% static '/js/d3.js' %}"></script>
    <script src="{% static '/js/map.js' %}"></script>

{% endblock %}
