{% extends "interface/base.html" %}
{% load static mathfilters i18n %}

{% block title %}{{ block.super }}· overview · {{tree.local_name}}{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{% static '/css/clock.css' %}">
{% endblock %}

{% block content %}
<main class="overview-wrapper">
    <section class="overview">  
        <div id="touch-dialogue" class="touch-dialogue"><div>{% translate 'choose a tree' %}</div></div>
        {% for tree in trees %}
            <div class="square" data-tree="{{tree.qr_id}}">
                <iframe src="/T/{{tree.qr_id}}/thumbnail?kiosk=1"></iframe>
                <nav>
                    <span class="tree">{% translate tree.local_name %}</span>
                    <span class="previous"><</span>
                    <span class="name">{% translate "Foto" %}</span>
                    <span class="next">></span>
                </nav>
            </div>
        {% endfor %}
    </section>
    <nav id="language-switch">
        <div class="legend">
            <!-- today's observations from inside to outside,  -->
            {% translate "Observaties van de laatste 24 uur, van binnen naar buiten:" %}
            <ul>
                <li class="soil humidity">
                    {% translate "moisture" %}</li>
                <li class="soil temperature">
                    {% translate "soil temperature" %}</li>
                <li class="contact sapflow">
                    {% translate "sapflow" %}</li>
                <li class="contact circular">
                    {% translate "circular increment" %}</li>
                <li class="air humidity">
                    {% translate "air humidity" %}</li>
                <li class="air temperature">
                    {% translate "air temperature" %}</li>
                <li class="air co2">
                    {% translate "co2" %}</li>
            </ul>
        </div>
        
        <ul>
            {% for code, name in available_languages %}
                <li>
                    <form method="post" action="{% url 'set_language' %}">{% csrf_token %}<input type="hidden" name="language" value="{{ code }}" /><button type="submit">{{ name }}</button></form>
                </li>
            {% endfor %}
        </ul>
    </nav>
</main>

<script>
    const reloadTimeoutLength = 5 * 60 * 1000;
    let reloadTimeoutId;

    window.addEventListener('click', function(){
        touch = document.getElementById('touch-dialogue');
        touch.classList.add('hidden');
    });

    function reload () {
        window.location.reload();
    }

    function resetReloadTimer () {
        if (reloadTimeoutId) {
            window.clearTimeout(reloadTimeoutId);
        }
        reloadTimeoutId = window.setTimeout(reload, reloadTimeoutLength);
    }
    resetReloadTimer();

    let views = [
        ["thumbnail", "{% translate "Foto" %}"],
        ["portrait", "{% translate "Verbeeld" %}"],
        ["data", "{% translate "Data" %}"],
        ["soundscape", "{% translate "Symfonie" %}"]
    ];
    let interactives = ["data", "soundscape"];
    let current = {};
    let squares = document.getElementsByClassName("square");
    for(let square of squares){
        // they all start on the first view
        current[square.dataset.tree] = 0;
        square.addEventListener('click', function(){
            resetReloadTimer();

            // increment view count
            const next = (current[square.dataset.tree] + 1) % views.length;
            current[square.dataset.tree] = next;

            // craft new url
            let iframe = square.querySelector('iframe');
            let current_url = iframe.src;
            let new_url = current_url.split('/');
            new_url[new_url.length - 1] = views[next][0];
            new_url = new_url.join('/') + "?kiosk=1";
            iframe.src = new_url;

            // replace view name in nav
            let view_name = square.querySelector('.name');
            view_name.innerHTML = views[next][1];

            if (interactives.includes(views[next][0])){
                square.classList.add('interactive');
            }
            else{
                square.classList.remove('interactive');
            }
        })
    }

</script>
{% endblock %}