{% extends "interface/base.html" %}
{% load static i18n %}

{% block title %}{{ block.super }}· {% translate "Verbeeld" %} · {% translate tree.local_name %}{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{% static '/css/clock.css' %}">
{% endblock %}
{% block body_class %}{{ block.super }} {% translate "Verbeeld" %}{% endblock %}

{% block content %}
<main>
    <iframe class="clock-frame" src="{% if at %}{% url 'clock' qr_id=tree.qr_id at=at %}{% else %}{% url 'clock' qr_id=tree.qr_id day_from_now=0 %}{% endif %}{% if kiosk %}?kiosk=1{% endif %}" ></iframe>
    <div class="subtitle">
        {{ subtitle }}
    </div>
</main>
{% endblock %}
