{% extends "interface/base.html" %}
{% load static %}

{% block title %}{{ block.super }}{% endblock %}
{% block body_class %}about{% endblock %}
{% block header %}
    <script src="{% static 'js/paged.polyfill.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Arnhemse Bomen Vertellen</h1>
    <div class="langgg">{{lang}}</div>
    <div class="text print">
        {% for article in articles %}
            {{ article|safe }}
        {% endfor %}
    </div>
{% endblock %}