{% extends "interface/base.html" %}
{% load static i18n %}

{% block title %}{{ block.super }}· Symfonie · {{tree.local_name}}{% endblock %}
{% block header %}
{% endblock %}

{% block body_class %}{{ block.super }} soundscape{% endblock %}
{% block content %}
    <main>
      <div data-playing="false">
        <span>{% translate "Raak het scherm aan<br />om de symfonie te beluisteren." %}</span>
        <span>
          ({% translate "Gebruik oordopjes of een hoofdtelefoon voor de beste ervaring." %})
        </span>
      </div>
      <div data-playing="true" hidden>
        <div id="stop-soundscape">{% translate "Stop met spelen" %}</div>
        <div id="playing-status-no-data" hidden>{% translate "De boom heeft de afgelopen 20 minuten geen data verstuurd." %}</div>
        <div id="playing-status-tree">

        </div>
        <div id="playing-status-sensors">

        </div>
      </div>
    </main>
    {{ soundscape|json_script:"soundscape-data"}}
    <script src="{% static '/js/howler/howler.min.js' %}"></script>
    <script src="{% static '/js/howler/howler.spatial.min.js' %}"></script>
    <script src="{% static '/js/soundscape.js' %}"></script>
    <!-- <script src="{% static '/js/isCallable.js' %}"></script>' %}"></script> -->
    <script>
      const soundcape_data = JSON.parse(document.getElementById('soundscape-data').textContent);
      
      window.soundscape.play_window = 20 * 60; //soundcape_data.window;
      window.soundscape.time_delta = Math.floor(Date.now() / 1000) - soundcape_data.servertime;

      'use strict';

      const tree = new Tree(soundcape_data.tree.name, soundcape_data.tree.location, soundcape_data.soundfiles.trees[soundcape_data.tree.pk], soundcape_data.tree.observation, [3000, 8000])

      const sensors = Object.values(soundcape_data.sensors).map(sensor => {
        if (sensor.type in soundcape_data.soundfiles.sensors) {
          let s = new Sensor(sensor.pk, sensor.name, sensor.type, tree, sensor.location, soundcape_data.soundfiles.sensors[sensor.type], sensor.observation, [2000,4000]);
          return s;
        }
        else {
          console.log("Ignored", sensor.type);
        }
      }).filter((sensor) => (sensor) !== undefined); 
      
      let last_tree_status = '';
      let last_sensor_status = '';
      let tree_status_container = document.getElementById('playing-status-tree');
      let sensor_status_container = document.getElementById('playing-status-sensors');

      function ontick (tree, sensors_playing) {
        let tree_status = '&nbsp;';
        if (tree.is_loading) {
          tree_status = `${tree.name} (loading)`;
        }
        else if (tree.current_sound && tree.current_sound.playing()) {
          tree_status = `${tree.name}`;
        }
        let sensor_status = sensors_playing.map((sensor) => {
          if (sensor.is_loading) {
            return `${sensor.name} (loading)`;
          }
          else if (sensor.current_sound.playing()) {
            return `${sensor.name}`;
          }
        }).join('<br />');

        if (last_tree_status != tree_status) {
          last_tree_status = tree_status
          tree_status_container.innerHTML = tree_status;
        }

        if (last_sensor_status != sensor_status) {
          last_sensor_status = sensor_status
          sensor_status_container.innerHTML = sensor_status;
        }

        if (tree.observation.timestamp < (Math.round(Date.now() / 1000) - window.soundscape.time_delta - window.soundscape.play_window)) {
          document.querySelector('#playing-status-no-data').hidden = false;
        }
        else {
          document.querySelector('#playing-status-no-data').hidden = true;
        }
      }


      const soundscape = new Controller(tree, sensors, ontick);

      document.querySelector('[data-playing="false"]').addEventListener('click', () => {
        tree_status_container.innerHTML = '';
        sensor_status_container.innerHTML = '';
        last_tree_status = '';
        last_sensor_status = '';
        soundscape.start();
        document.querySelector('[data-playing="false"]').hidden = true;
        document.querySelector('[data-playing="true"]').hidden = false;
      });
      
      document.querySelector('#stop-soundscape').addEventListener('click', () => {
        soundscape.stop();
        document.querySelector('[data-playing="false"]').hidden = false;
        document.querySelector('[data-playing="true"]').hidden = true;
      });

      window.setTimeout(() => {
        fetch(soundcape_data.api_url)
          .then((r) => r.json()
            .then((d) => {
              soundscape.tree.set_observation(d.tree);
              soundscape.sensors.forEach((sensor) => {
                if (sensor.pk in d.sensors) {
                  sensor.set_observation(d.sensors[sensor.pk]);
                  console.log(d.sensors[sensor.pk])
                }
              });
            }));
      }, 300000);

    </script>

{% endblock %}
