{% extends "interface/base.html" %}

{% block title %}{{ block.super }}· Verhaal · {{local_name}}{% endblock %}
{% block body_class %}story{% endblock %}

{% block content %}
<div class="text {{ story.period }}">
    <p>
        {{ story.intro }}
    </p>
    <p class="one_story">
        {{ story.content|linebreaksbr }}
    </p>
    {% if story.image %}
    <img src="{{story.image}}">
    {% endif %}
</div>
{% endblock %}
