.legend,
.clock{
    --border-thickness : 1px; 
    --color-info : black;
    
    /* humidity for soil and air */
    --humidity: rgb(0,255,255);
    
    --cold-hue: 200;
    --hot-hue: 420;
    
    /* co2 */
    --co2 : rgb(0,255,0);

    /* dendro */
    /* --rules: saddlebrown; */
    --rules: lightgrey;
    --growth: burlywood;
    --flow: goldenrod;
    --rules-thickness: 1.5px;
}

.kiosk .clock {
    font-size: 0.7em;
}

.clock{
    /* 
    by making this font-size change 
        this change the sizes of every handles of the clock
        while keeping their proportionnalities as defined
    */
    font-size: 0.5em;
    position: relative;
    width: 100%;
    
    /* making it square */
    margin: 0 0.5rem;
    height: calc(100vw - 1rem);
    
    --soil-max-size: 4em;
    --air-max-size: 5em;
    --co2-max-size: 4em;
}

/* temperatures change colors if their on a different side of an average value */
.temperature .handle{
    --hue : calc(calc(var(--v) + 1) / 2 * (var(--hot-hue) - var(--cold-hue)) + var(--cold-hue));
}
.soil.temperature .handle{
    --temperature: hsl(var(--hue), 100%, 50%);
}
.air.temperature .handle{
    --temperature: hsl(var(--hue), 100%, 50%);
}

/* --- HANDLES PLACEMENT --- */

/* radius of every concentric circles */

.air.co2 .handle{
    width: 45%;
}
.air.temperature .handle{
    width: 40%;
}
.air.humidity .handle{
    width: 35%;
}
.soil.temperature .handle{
    width: 15%;
}
.soil.humidity .handle{
    width: 10%;
}

/* --- legend --- */

.legend{
    font-size: var(--fs-small);
    padding: 0.5em 1em;
}
.legend ul{
    list-style: none;
}
.legend li{
    display: inline;
    white-space: nowrap;
}
.legend li::before{
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0 0.2em 0 0.2em;
    box-sizing: border-box;
}
.legend li.temperature::before{
    background: radial-gradient(closest-side, 
    hsl(220, 100%, 50%) 0%,
    hsl(280, 100%, 50%) 30%,
    hsl(340, 100%, 50%) 60%,
    hsl(400, 100%, 50%) 80%);
}
.legend li.soil.temperature::before{
    background: radial-gradient(closest-side, 
        hsl(220, 100%, 50%) 0%, hsl(220, 100%, 50%) 30%,
        hsl(280, 100%, 50%) 30%, hsl(280, 100%, 50%) 60%,
        hsl(340, 100%, 50%) 60%, hsl(340, 100%, 50%) 80%,
        hsl(400, 100%, 50%) 80%, hsl(400, 100%, 50%) 100%);
}
.legend li.soil.humidity::before{
    background-color: var(--humidity);
    border-radius: 0 50% 50% 50%;
    font-size: 0.8em;
}
.legend li.air.humidity::before{
    background: radial-gradient(closest-side, white 25%, var(--humidity) 25%, transparent);
}
.legend li.co2::before{
    border: 0.15em dotted var(--co2);
}

.legend li.contact.circular::before{
    border: var(--rules-thickness) solid var(--rules);
    outline: 0.2em solid var(--growth);
    outline-offset: calc(-0.2em - var(--rules-thickness));
}
.legend li.contact.sapflow::before{
    border: var(--rules-thickness) solid var(--rules);
    outline: 0.2em solid var(--flow);
    outline-offset: calc(-0.2em - var(--rules-thickness));
}

.overview-wrapper .legend ul{
    display: inline-flex;
}
.overview-wrapper nav ul{
    border-bottom: none !important;
}
.overview-wrapper #language-switch > *{
    border-top: var(--border);
}

/* .clock-legend td:nth-of-type(1){
    text-align: right;
}
.clock-legend td{
    white-space: nowrap;
    width: 0;
}
.clock-legend th{
    padding-top: 0.5em;
} */

/*
.legend{
    padding: 0 0.25em;
    width: 100% !important;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.legend .index{
    flex-grow: 1;
    background-color: black;
    height: 1.35em;
    --s:  calc(var(--i) / var(--m));
}
.co2 .index{
    background-color: var(--co2);
}
.humidity .index{
    background-color: var(--humidity);
}
.temperature .index{
    --v: calc(calc(var(--i) / var(--m) - 0.5) * 2);
    --s: abs(var(--v));
    background-color: var(--temperature);
}
.index{
    opacity: var(--s);
}

.legend.soil{
    gap: 1px;
}
.soil .index{
    border-radius: 5em;
    opacity: 1;
    height: calc(var(--s) * 1.35em);
}
.soil.humidity .index{
    border-top-left-radius: 0;
}
.legend.contact .index{
    opacity: 1;
    background-color: var(--growth);
    height: calc(var(--s) * 1.35em);
}
.legend.co2 .index{
    background-color: initial;
    border-left: 1px dotted var(--co2);
} */

.legend a{
    text-decoration: underline;
}

/* --- TIMES --- */

.layer.times {
    z-index: 9;
  }
.times .handle{
    font-size: var(--fs-small);
    position: absolute;
    top: 0;
    left: 50%;
    height: 50%;
    color: var(--color-info);
    transform-origin: bottom left;
    transform: rotate(var(--t)) translateX(calc(-0.5 * var(--border-thickness)));
    background: none;
}
.times .handle.now::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: calc(100% - 1.5em);
    border-left: var(--border-thickness) solid var(--rules);

}
.times .handle span{
    display: block;
    position: relative;
    left: -50%;
    transform-origin: center center;
    transform: rotate(calc(-1 * var(--t)));

    border-radius: 2em;
    padding: 0.1em 0.4em 0;
    background-color: white;
    border: var(--border-thickness) solid var(--rules);
}
.times .handle:not(.now) span{
    /* better looking pictograms */
    /* text-decoration: var(--border-thickness) solid underline currentColor; */
    font-family: sans-serif;
    letter-spacing: -0.1em;
}

/* --- LAYERS --- */

.layer{
    position: absolute;
    inset: 0;

    /* different slow mouvement for each  */
    /* animation: flow 3s ease-in-out infinite alternate; */
}
.soil.layer{ 
    animation-delay: 0s;
    z-index: 4;
}
.air.layer{ 
    animation-delay: 3s;
    z-index: 2;
}
.contact.layer{
    animation: none;
    z-index: 10;
}
.rules.layer{
    z-index: 5;
}
@keyframes flow {
    from{
        transform: rotate(-1deg) scale(1);
    }
    to{
        transform: rotate(1deg) scale(1.025);
    }
}

/* --- RULES --- */

.layer.rules{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--rules);
}
.layer.rules > *{
    /* the baseline is drawn at 25% */
    content: '';
    position: absolute;
    box-sizing: border-box;
    border-radius: 50%;

    width: 50%;
    height: 50%;
    border: var(--border-thickness) solid currentColor;
}
.layer.rules > .minus1mm{
    width: 35%;
    height: 35%;
    opacity: 0.25;
}
.layer.rules > .plus1mm{
    width: 65%;
    height: 65%;
    opacity: 0.25;
}
.layer.rules > .minus1mm,
.layer.rules > .plus1mm{
    display: none;
}


/* --- ALL CLOCKS HANDLES --- */

.handle{
    /* slowly fading out as we go back in time */
    opacity: var(--o);
}

.ambient .handle{
    /* centering the handles */
    position: absolute;
    top: 50%;
    left: 50%;

    /* making every handle rotate so that the total amount of data is equally divided */
    transform-origin: center left;
    transform: rotate(calc(var(--a) * 360deg));
}

.contact .handle{
    /* centering the handles */
    position: absolute;
    top: 50%;
    left: 50%;

    border-radius: 50%;
    /* each quarter are from a circle of 50% the size of the container */
    /* so that if v == 0, it matches the baseline */
    /* the multiplication means +0.5 or -0.5 milimeter goes to +10% or -10% of the circle */
    /* width: calc(50% + calc(var(--v) * 20%));
    height: calc(50% + calc(var(--v) * 20%)); */


    /* we draw only a small quarter */
    /* background: conic-gradient(
        var(--growth), var(--growth) 8deg,
        transparent 8deg, transparent); */

    /* transform-origin: center center; */
    /* transform: translate(-50%, -50%) rotate(calc(var(--a) * 360deg + 90deg - 7.5deg)); */
    opacity: var(--o);

    /* making every handle rotate so that the total amount of data is equally divided */
    width: calc(25% + calc(var(--v) * 10%));
    transform-origin: center left;
    transform: rotate(calc(var(--a) * 360deg));
}
.contact.circular .handle::after{
    width: 0.5em;
    height: 4em;
    background: var(--growth);

    content: '';
    position: absolute;
    left: 100%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
.contact.sapflow .handle::after{
    width: 0.3em;
    height: 1.5em;
    background: var(--flow);
    content: '';
    position: absolute;
    left: 100%;
    transform: translate(-50%, -50%) rotate(-90deg);
    box-sizing: border-box;
}

/* --- AMBIENT HANDLES --- */

.air .handle{
    --max-size: var(--air-max-size);
}
.soil .handle{
    --max-size: var(--soil-max-size);
}
.co2 .handle{
    --max-size: var(--co2-max-size);
}
.ambient .handle::after{

    /* represented as object floating on concentric circles */
    content: '';
    position: absolute;
    left: 100%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;

    /* their sizes are influenced by the extremity of the data */
    width: calc(var(--s) * var(--max-size));
    height: calc(var(--s) * var(--max-size));
}


/* --- AIR HANDLES --- */
.air .handle::after{
    /* represented as cloudy circles */
    border-radius: 50%;
}

/* they're made out of radial-gradient or dotted border */
.air.humidity .handle::after{
    background: radial-gradient(closest-side, white 25%, var(--humidity) 25%, transparent);
    opacity: calc(var(--o) * var(--s) / 3);
}

.air.co2 .handle::after{
    /* CO2 is smaller than the 2 other, because the dots make it visually more impactfull */
    border: calc(var(--s) * 0.5em) dotted var(--co2);
    
    width: max(calc(var(--s) * var(--max-size)), 0.05em);
    height: max(calc(var(--s) * var(--max-size)), 0.05em);

    opacity: alc(var(--o) * max(calc(var(--s) / 3), 0.25)) !important;
}

.air.temperature .handle::after{
    /* background: radial-gradient(closest-side, white 25%, var(--temperature) 75%, transparent); */
    background: radial-gradient(closest-side, var(--temperature) 50%, transparent);
}
.air.temperature .handle::after{
    width: 3em !important;
    height: 3em !important;
    opacity: calc(var(--o) * max(calc(var(--s) / 3), 0.25)) !important;
}


/* --- SOIL HANDLES --- */

.soil .handle::after{
    /* represented as solid circles */
    border-radius: 50%;
}

.soil.temperature .handle::after{
    width: 2.5em !important;
    height: 2.5em !important;
    opacity: var(--o) !important;
}

/* they're made out a simple colored border */
.soil.temperature .handle::after{
    background: var(--temperature);
}
.soil.humidity .handle::after{
    /* border: calc(var(--s) * 0.5em) solid var(--humidity); */
    background: var(--humidity);

    transform-origin: center center;
    transform: translate(-50%, -50%) rotate(-45deg);
    border-top-left-radius: 0;
}
















/* -------------------------------------------------------- */


/* bw */
.sigils .tree{
    font-size: 0.8em;
}
.sigils .handle.ci{
    height: 3em;
    background-color: grey;
    border-radius: 50%;
}
.sigils .milesight-humidity .handle::after,
.sigils .milesight-temperature .handle::after,
.sigils .milesight-co2 .handle::after{
    border-radius: 50%;
    width: calc(var(--s) * 4em);
    height: calc(var(--s) * 4em);
    opacity: 1;
    background: initial;
    border: 1px solid black;
}
.sigils .milesight-temperature .handle::after{
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.sigils .milesight-humidity .handle::after{
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}
.sigils .milesight-co2 .handle::after{
    border-style: dotted;
    border-width: calc(var(--s) * 0.5em);
    width: calc(var(--s) * 3em);
    height: calc(var(--s) * 3em);
}
.sigils .sensoterra-temperature .handle::after,
.sigils .sensoterra-moisture .handle::after{
    width: calc(var(--s) * 3em);
    height: calc(var(--s) * 3em);
    opacity: 1;
    border-radius: 50%;
    background: initial;
    background-color: black;
}
.sigils .sensoterra-temperature .handle::after{
    border: var(--rules-thickness) solid black;
    background-color: initial;
}
.sigils .sensoterra-moisture .handle::after{
    border-radius: 0 50% 50% 50%;
}