@font-face {
    font-family: 'Authentic-sans';
    src:    url('../fonts/AUTHENTIC-SANS/AUTHENTICSans-90.woff2') format('woff2'),
            url('../fonts/AUTHENTIC-SANS/AUTHENTICSans-90.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Authentic-sans';
    src:    url('../fonts/AUTHENTIC-SANS/AUTHENTICSans-150.woff') format('woff2'),
            url('../fonts/AUTHENTIC-SANS/AUTHENTICSans-150.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Authentic-sans-condensed';
    src:    url('../fonts/AUTHENTIC-SANS/AUTHENTICSans-Condensed-90.woff2') format('woff2'),
            url('../fonts/AUTHENTIC-SANS/AUTHENTICSans-Condensed-90.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Authentic-sans-condensed';
    src:    url('../fonts/AUTHENTIC-SANS/AUTHENTICSans-Condensed-150.woff2') format('woff2'),
            url('../fonts/AUTHENTIC-SANS/AUTHENTICSans-Condensed-150.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Computer';
    src:    url('../fonts/computers_complete-webfont.woff2') format('woff2');
}