{% load static %}
<div id="container"></div>
<script src="{% static '/js/d3.js' %}"></script>
<script>
  window.trees = JSON.parse('{{ trees|safe }}')
</script>
<script type="module">

// import {tricontour} from "https://cdn.skypack.dev/d3-tricontour@1";

  const unit_ranges = {
    '℃': [-5,45],
    '°C': [-5,45],
    'ppm': [400,600],
    '%': [0,50],
    '%RH': [0,100],
    'SI': [0,10],
    'hPa': [900,1100],
    'Pa': [90000,110000],
    'W⋅m⁻²': [0,1500],
    'l⋅h⁻¹': [0,2]
  };

  const colors = [
    "steelblue",
    "MediumOrchid",
    "OrangeRed",
    "ForestGreen",
    "DarkGoldenRod",
    "DeepPink",
    "FireBrick",
    "CadetBlue",
    "Sienna",
  ];

  // const trees = {}

  const width = 1000;
  const height = 600;

  console.log(trees);

  const data = trees.filter(tree => tree.longitude !== null).map(tree => [tree.latitude, tree.longitude, tree.moisture, tree.co2, tree.name]);

  const treesObject = {
    type: "MultiPoint",
    coordinates: trees
      .filter(tree => tree.latitude !== null)
      .map(tree => ([tree.longitude, tree.latitude]))
  };
  
  const projection = d3.geoMercator()
    .fitSize([width, height], treesObject);

  const path = d3.geoPath()
    .projection(projection)
    .pointRadius(6);

  const svg = d3.create("svg")
      .attr("width", width)
      .attr("height", height)

  svg.append("path")
    .attr('d', path(treesObject))
    .attr('fill', 'red');

  const range = d3.extent(data, d => d[2]),
        steps = 10,
        i = d3.interpolateNumber(range[0], range[1]),
        thresholds = d3.range(steps).map(s => i(s / steps));

  console.log(thresholds);

  const projected_data = trees
    .filter(tree => tree.longitude !== null)
    .map(tree => [...projection([tree.longitude, tree.latitude]), tree.moisture]);

  console.log(projected_data);

  // console.log(treesObject.bounds)

  const generator = d3.contourDensity()
                    .size([width,height])
                    .x(d => d[0])
                    .y(d => d[1])
                    .cellSize(16) 
                    .weight(d => d[2])
                    .bandwidth(200)
                    .thresholds(30);
  
  const contours = generator(projected_data);
  console.log(contours);

  contours.forEach(polygon => {
      console.log(polygon.value);
      const path = d3.geoPath();
      svg.append("path")
        .attr("d", path(polygon))
        .attr("stroke", "black")
        .attr("fill", "none")
        .attr("stroke-width", 2)
        .attr("title", polygon.value);
    });

  svg.append("path")
    .attr('d', path(treesObject))
    .attr('fill', 'red');

  // const steps = 20,
  //      i = d3.interpolateNumber(range[0], range[1]),
  //      thresholds = d3.range(steps).map(s => i(s / steps)),

  // const projected_co2_data = trees
  //   .filter(tree => tree.longitude !== null)
  //   .map(tree => [...projection([tree.longitude, tree.latitude]), tree.co2]);


  // // console.log(treesObject.bounds)

  // const co2_generator = d3.contourDensity()
  //                   .size([width,height])
  //                   .x(d => d[0])
  //                   .y(d => d[1])
  //                   .cellSize(16) 
  //                   .weight(d => d[2])
  //                   .bandwidth(200)
  //                   .thresholds(50);
  
  // const co2_contours = co2_generator(projected_co2_data);
  // console.log(co2_contours);

  // co2_contours.forEach(polygon => {
  //     console.log(polygon.value);
  //     const path = d3.geoPath();
  //     svg.append("path")
  //       .attr("d", path(polygon))
  //       .attr("stroke", "blue")
  //       .attr("fill", "none")
  //       .attr("stroke-width", 2)
  //       .attr("title", polygon.value);
  //   })

  
  // const contours = d3.contours().size([width,height]);
  // console.log(contours);

  // const contourPath = d3.geoPath().projection(projection);
  // svg.append("path")
  //   .attr("d", d => path(contours.contour(trees.filter(t => longitude !== null).map()))
  //   .attr("stroke", "black")
  //   .attr("fill", "none")
  //   .attr("stroke-width", 2);
  


  // const range = d3.extent(trees, t => t.moisture);

  // const steps = 20,
  //       i = d3.interpolateNumber(range[0], range[1]),
  //       thresholds = d3.range(steps).map(s => i(s / steps)),
  //       x = d3.scaleLinear().range(d3.extent(data, d => d[0])),
  //       y = d3.scaleLinear().range(d3.extent(data, d => d[1]));

  // console.log(range, thresholds);

  // const path = d3.geoPath();
  // // const contours = tricontour();

  // const latitude_extent = d3.extent(data, d => d[0]);
  // const longitude_extent = d3.extent(data, d => d[1]);
  // const stroke_size = (longitude_extent[1] - longitude_extent[0]) * 0.01;
  // const width = latitude_extent[1] - latitude_extent[0];
  // const height = longitude_extent[1] - longitude_extent[0];
  // const margin = width * 0.05;

  // const svg = d3.create("svg")
  //     .attr("width", 200)
  //     .attr("height", 200)
  //     // .attr("viewBox", [
  //     //   latitude_extent[0] - margin,
  //     //   longitude_extent[0] - margin,
  //     //   width + margin * 2,
  //     //   height + margin * 2
  //     // ])

  // // const defs = svg.append("defs"),
  // //   wrap = svg.append("g"),
  // //   g = wrap.append("g"),
  // //   labels_g = wrap.append("g");

  // // for (const threshold of thresholds) {
  // //   // let mask_id = DOM.uid(),
  // //   //   mask = defs.append("mask").attr("id", mask_id.id);
  // //   // mask
  // //   //   .append("rect")
  // //   //   .attr("width", width)
  // //   //   .attr("height", height)
  // //   //   .attr("fill", "white");

  // //   const cont = contours.contour(data, threshold);

  // //   // g.append("path")
  // //   //   .attr("id", `fill-${threshold}`)
  // //   //   .attr("d", path(cont))
  // //   //   .attr("fill", color(threshold));
  // //   g.append("path")
  // //     .attr("id", `stroke-${threshold}`)
  // //     .attr("d", path(cont))
  // //     .attr("stroke", "black")
  // //     .attr("fill", "none")
  // //     .attr("stroke-width", 0.00001)
  // //     // .attr("stroke-opacity", threshold % 5 === 0 ? 1 : 0.3)
  // //     // .attr("mask", mask_id);
    
  //   // if (threshold % 10 === 0) {
  //   //   for (const polygon of cont.coordinates) {
  //   //     for (const [j, ring] of polygon.entries()) {
  //   //       const p = ring.slice(1, Infinity),
  //   //         // best number of steps to divide ring.length
  //   //         possibilities = d3.range(steps, steps * 1.4),
  //   //         scores = possibilities.map((d) => -((p.length - 1) % d)),
  //   //         n = possibilities[d3.scan(scores)],
  //   //         // best starting point: bottom for first rings, top for holes
  //   //         start =
  //   //           1 + (d3.scan(p.map((xy) => (j === 0 ? -1 : 1) * xy[1])) % n),
  //   //         margin = 2;

  //   //       for (const [i, xy] of p.entries()) {
  //   //         if (
  //   //           i % n === start &&
  //   //           xy[0] > margin &&
  //   //           xy[0] < width - margin &&
  //   //           xy[1] > margin &&
  //   //           xy[1] < height - margin
  //   //         ) {
  //   //           const a = (i - 2 + p.length) % p.length,
  //   //             b = (i + 2) % p.length,
  //   //             dx = p[b][0] - p[a][0],
  //   //             dy = p[b][1] - p[a][1];
  //   //           if (dx === 0 && dy === 0) return;

  //   //           // add the label's contour to the path stroke clip
  //   //           mask
  //   //             .append("circle")
  //   //             .attr("r", 13)
  //   //             .attr("fill", "black")
  //   //             .attr("transform", `translate(${xy})`);

  //   //           addlabel(labels_g, `${threshold}`, xy, Math.atan2(dy, dx));
  //   //         }
  //   //       }
  //   //     }
  //   //   }
  //   // }
  // // }
  const lat_extent = d3.extent(data, d => d[0]),
        lat_width = lat_extent[1]-lat_extent[0],
        lat_margin = lat_width * 0.1;
  const lats = d3.range(lat_extent[0] - lat_margin, lat_extent[1] + lat_margin, lat_width/15)

  const lon_extent = d3.extent(data, d => d[1]),
        lon_width = lon_extent[1]-lon_extent[0],
        lon_margin = lon_width * 0.1;
  const lons = d3.range(lon_extent[0] - lon_margin, lon_extent[1] + lon_margin, lon_width/15)
  const grid = lons.flatMap((lon, i) => lats.map(lat => [lon, lat]));

  // loop through grid
  // measure distance to each tree
  // smaller the distance the bigger the influence
  
  const delaunay = d3.Delaunay.from(trees.map(t => projection([t.longitude, t.latitude])));
  const voronoi = delaunay.voronoi([0, 0, width, height]);

  // const voronoiPath = d3.path();
  // voronoi.render(d3.voronoiPath);
  svg.append("path")
    .attr('d', voronoi.render())
    .attr('stroke', 'green')
    .attr('stroke-width', 1);


  const p = grid[d3.randomInt(0,grid.length)()];

  const pVoronoi = d3.Delaunay.from(grid.map(p => projection(p)).concat(trees.map(t => projection([t.longitude, t.latitude]))))
      .voronoi([0,0,width,height]);

  svg.append("path")
    .attr('d', pVoronoi.render())
    .attr('stroke', 'purple')
    .attr('stroke-width', 1);

  console.log(d3, d3.map(pVoronoi.neighbors(0), d => d));

  // grid.forEach(p => {
  //   console.log(p);
  //   let distances = trees.map(t => d3.geoDistance(p, [t.longitude, t.latitude]));
  //   // Measure which two trees are closest. Weighted average.
  //   console.log(d3.sum(distances), distances);
  // });

  const gridObject = {
    type: "MultiPoint",
    coordinates: grid
  };

  const gridPath = d3.geoPath()
    .projection(projection)
    .pointRadius(5);

  svg.append("path")
    .attr('d', gridPath(gridObject))
    .attr('fill', 'blue');


  svg.append('circle')
    .attr('cx', projection(p)[0])
    .attr('cy', projection(p)[1])
    .attr('r', 6)
    .attr('fill','purple');

  // Append the SVG element.
  document.getElementById('container').append(svg.node());

</script>