<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Installation Dashboard</title>
  <style>
    .installation--tree-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 450px));
      grid-auto-rows: 600px;
      grid-auto-flow: row dense;
      max-width: 100%;
      grid-column-gap: 2ch;
      grid-row-gap: 2ch;
    }
    
    .installation--tree {
      display: grid;
      grid-template-rows: min-content 1fr;
    }

    .installation--tree iframe {
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<body>
  {% for installation in installations %}
    <h2>{{ installation.name }}</h2>
    <div class="installation--tree-list">
      {% for tree in installation.trees.all %}
        <div class="installation--tree">
          <h3>{{ tree.local_name }}</h3>
          <iframe src="//{{ installation.site.domain }}{% url 'data' tree.qr_id 3 %}?kiosk=1"></iframe>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</body>
</html>