{% load static %}
<h1>{{ sensor }}</h1>
<p>{{ sensor.unit }}</p>
<div id="container"></div>
<script src="{% static '/js/d3.js' %}"></script>
<script>
  window.sensor_data = JSON.parse('{{ data|safe }}')
</script>
<script type="module">

  const parseTime = d3.utcParse("%d-%m-%Y %H:%M:%S");
  const formatTime = d3.utcFormat("%d-%m-%Y %H:%M:%S");
  // Parse date time on observations
  // parseTime()
  sensor_data = sensor_data.map(o => ({ ...o, timestamp: parseTime(o.timestamp)}))

  // Declare the chart dimensions and margins.
  const width = 640;
  const height = 400;
  const marginTop = 20;
  const marginRight = 20;
  const marginBottom = 30;
  const marginLeft = 40;

  // Declare the x (horizontal position) scale.
  // const x = d3.scaleUtc()
  //     .domain([new Date("2023-01-01"), new Date("2024-01-01")])
  //     .range([marginLeft, width - marginRight]);

  // Get date range in the observations
  const x = d3.scaleUtc(
    d3.extent(sensor_data, o => o.timestamp),
    [marginLeft, width - marginRight]);

  // Get minimum value in the data set
  const data_min = d3.min(sensor_data, o => o.value);
  // Get maximum value in the data set
  const data_max = d3.max(sensor_data, o => o.value);
  const padding = (data_max - data_min) * .05;
    
  // Declare the y (vertical position) scale.
  const y = d3.scaleLinear(
    [data_min - padding, data_max + padding],
    [height - marginBottom, marginTop]);

  // Declare the line generator.
  const line = d3.line()
      .x(o => x(o.timestamp))
      .y(o => y(o.value));

    
  // Calculate x values for all entries in the dataset.
  // Used in cursor interaction.
  const x_values = d3.map(sensor_data, o => x(o.timestamp));

  // Create the SVG container.
  const svg = d3.create("svg")
      .attr("width", width)
      .attr("height", height)
      .on("pointerenter", pointerentered)
      .on("pointermove", pointermoved)
      .on("pointerleave", pointerleft);

  // Add the x-axis.
  svg.append("g")
      .attr("transform", `translate(0,${height - marginBottom})`)
      .call(d3.axisBottom(x));

  // Add the y-axis.
  svg.append("g")
      .attr("transform", `translate(${marginLeft},0)`)
      .call(d3.axisLeft(y));

  // Append a path for the line.
  svg.append("path")
      .attr("fill", "none")
      .attr("stroke", "steelblue")
      .attr("stroke-width", 1.5)
      .attr("d", line(sensor_data));

  // Append the SVG element.
  container.append(svg.node());

  const indicator = svg.append("g")
      .attr("display", "none")
      .attr("pointer-events", "none");

  indicator.append("line")
      .attr("x1", 0)
      .attr("y1", marginTop)
      .attr("x2", 0)
      .attr("y2", height-marginBottom)
      .attr("stroke", "black")
      .attr("stroke-width", .5)
      .attr("stroke-dasharray", 4);

  const dot = svg.append("g")
      .attr("display", "none")
      .attr("pointer-events", "none");

  dot.append("circle")
      .attr("r", 2.5);

  const dateLabel = dot.append("text")
      .attr("font-family", "sans-serif")
      .attr("font-size", 10)
      .attr("text-anchor", "middle")
      .attr("y", -24);

  const valueLabel = dot.append("text")
      .attr("font-family", "sans-serif")
      .attr("font-size", 14)
      .attr("text-anchor", "middle")
      .attr("y", -8);

  function pointermoved(event) {
    const [xm, ym] = d3.pointer(event);
    const closest_observation_index = d3.least(d3.range(x_values.length), i => Math.abs(x_values[i]-xm));
    const closest_observation = sensor_data[closest_observation_index];
    dot.attr("transform", `translate(${x_values[closest_observation_index]},${y(closest_observation.value)})`);
    indicator.attr("transform", `translate(${x_values[closest_observation_index]}, 0)`);
    dateLabel.text(formatTime(closest_observation.timestamp))
    valueLabel.text(closest_observation.value);
  }

  function pointerentered() {
    dot.attr("display", null);
    indicator.attr("display", null);
  }

  function pointerleft() {
    dot.attr("display", "none");
    svg.node().value = null;
  }


</script>