{% load static %}
<div id="container"></div>
<script src="{% static '/js/d3.js' %}"></script>
<script>
  window.trees = JSON.parse('{{ trees|safe }}')
  window.interpolated_points = JSON.parse('{{ interpolated_points|safe }}')
</script>
<script type="module">

// import {tricontour} from "https://cdn.skypack.dev/d3-tricontour@1";

  const unit_ranges = {
    '℃': [-5,45],
    '°C': [-5,45],
    'ppm': [400,600],
    '%': [0,40],
    '%RH': [0,100],
    'SI': [0,10],
    'hPa': [900,1100],
    'Pa': [90000,110000],
    'W⋅m⁻²': [0,1500],
    'l⋅h⁻¹': [0,2]
  };

  const colors = [
    "steelblue",
    "MediumOrchid",
    "OrangeRed",
    "ForestGreen",
    "DarkGoldenRod",
    "DeepPink",
    "FireBrick",
    "CadetBlue",
    "Sienna",
  ];

  // const trees = {}

  const width = 1000;
  const height = 600;

  const data = trees.filter(tree => tree.longitude !== null).map(tree => [tree.latitude, tree.longitude, tree.moisture, tree.co2, tree.name]);

  const treesObject = {
    type: "MultiPoint",
    coordinates: trees
      .filter(tree => tree.latitude !== null)
      .map(tree => ([tree.longitude, tree.latitude]))
  };
  
  
  const lon = d3.interpolateNumber.apply(this, d3.extent(trees, tree => tree.longitude));
  const lat = d3.interpolateNumber.apply(this, d3.extent(trees, tree => tree.latitude));

  console.log(lon(0), lon(1), lat(0), lat(1))

  const projection = d3.geoMercator()
    .fitSize([width, height], treesObject);

  const path = d3.geoPath()
    .projection(projection)
    .pointRadius(6);

  const svg = d3.create("svg")
      .attr("width", width)
      .attr("height", height);


  //[2, '%', 'blue'], [3, 'ppm', 'purple'], [4, '%RH', 'red'], [5, '°C', 'green']

  [[2, '%', 'blue'], [3, 'ppm', 'purple'], [4, '%RH', 'red'], [5, '°C', 'green']].forEach(([key, unit, color]) => {

    const contourPath = d3.geoPath().projection(projection);
  
    const unit_range = unit_ranges[unit],
          steps = 50,
          contours = d3.contours()
            .size([100, 100])
            .thresholds(d3.range(unit_range[0], unit_range[1], (unit_range[1] - unit_range[0]) / steps));
  

    const gridPointColor = d3.scaleSequential(unit_range, d3.interpolatePuOr);

    const minValue = Math.min.apply(this, trees.map(t => t.moisture));
  
    contours(interpolated_points.map(p => p ? p[key] : -100))
      .forEach(contour => {
        // if (contour.value >= minValue) {
          contour.coordinates = contour.coordinates.map(polygon => polygon.map(ring => ring.map(coord => [lon(coord[0] * (1/100)), lat(coord[1] * (1/100))])));
          // contour.coordinates = contour.coordinates.map(path => path.map(pointset => pointset.map(p => {console.log(p);})));
          svg.append("path")
            .attr('d', contourPath(contour))
            .attr('stroke', color)
            .attr('stroke-width', .25)
            .attr('fill', 'transparent')
            .on("mouseover", (e) => {
              console.log(contour.value)
            });
            // .attr('fill', gridPointColor(contour.value));
        // }
      });
  });


  svg.append("path")
    .attr('d', path(treesObject))
    .attr('fill', 'red');

  // svg.append("path")
  //   .attr('d', d => path(contours.contour(interpolated_points.map(p => p[2]), d)))
  //   .attr('stroke', 'blue');

  // const gridObject = {
  //   type: "MultiPoint",
  //   coordinates: window.interpolated_points
  // };

  // const gridPath = d3.geoPath()
  //   .projection(projection)
  //   .pointRadius(1);

  // svg.append("path")
  //   .attr('d', gridPath(gridObject))
  //   .attr('fill', 'blue');

  // Append the SVG element.
  document.getElementById('container').append(svg.node());

</script>