{% load static %}

<!DOCTYPE html>
<html lang="en" class="map">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <link rel="stylesheet" href="{% static '/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static '/css/interface.css' %}">
    <link rel="stylesheet" href="{% static '/js/leaflet/leaflet.css' %}">
    <script src="{% static '/js/leaflet/leaflet.js' %}"></script>
    <script src="{% static '/js/leaflet.textPath.js' %}"></script>
</head>
<body>

    <div class="page">
        <h1>{{ installation.name }}</h1>
        <div id="map" class="print"></div>
        <div id="legend" class="print">
            <ul>
                <li>Wandeling &bull; Walk &bull; Spaziergang (4km, 7km)</li>
                <li>Niet rolstoeltoegankelijk &bull; Not wheelchair accessible &bull; Nicht&nbsp;behindertengerecht</li>
            </ul>    
        </div>
        <div id="logos">
            {% if installation.slug == 'arnhem' %}
            <img src="{% static '/img/logos/Arnhem.svg' %}" />
            <img src="{% static '/img/logos/natuurcentrum.svg' %}" />
            {% endif %}
        </div>
    </div>

    {{ trees_data|json_script:"trees-data" }}
    {{ tree_label_positioning|json_script:"tree-label-positioning-data"}}
    {{ poi_data|json_script:"poi-data" }}
    {{ park_data|json_script:"park-data" }}
    {{ water_data|json_script:"water-data" }}
    {{ walk_data|json_script:"walk-data" }}
    {{ ways_data|json_script:"ways-data" }}
    {{ label_data|json_script:"label-data" }}

    <svg viewBox="0 0 24 24" color="var(--c-map-2)">
        <pattern id="diagonalHatch" patternUnits="userSpaceOnUse" width="4" height="4">
            <!-- <rect x="0" y="0" width="4" height="4" style="fill: white;"></rect> -->
            <path d="M-1,1 l2,-2 M0,4 l4,-4 M3,5 l2,-2" style="stroke:white; stroke-width:1"></path>
        </pattern>
    </svg>    

    <script src="{% static '/js/map-print.js' %}"></script>
</body>
</html>