{% load static %}
<div id="container"></div>
<script src="{% static '/js/d3.js' %}"></script>
<script>
  window.sensor_list = JSON.parse('{{ sensor_json|safe }}')
</script>
<script type="module">

  const unit_ranges = {
    '℃': [-5,45],
    '°C': [-5,45],
    'ppm': [400,600],
    '%': [0,50],
    '%RH': [0,100],
    'SI': [0,10],
    'hPa': [900,1100],
    'Pa': [90000,110000],
    'W⋅m⁻²': [0,1500],
    'l⋅h⁻¹': [0,2],
    'mm/24h': [0,2]
  };

  const colors = [
    "steelblue",
    "MediumOrchid",
    "OrangeRed",
    "ForestGreen",
    "DarkGoldenRod",
    "DeepPink",
    "FireBrick",
    "CadetBlue",
    "Sienna",
  ];

  const parseTime = d3.utcParse("%d-%m-%Y %H:%M:%S");
  const formatTime = d3.utcFormat("%d-%m-%Y %H:%M:%S");
  // Parse date time on observations
  // parseTime()
  // sensor_data is list of sensors
  //    for each sensor list of observations
  // sensor_data = [
  //  [{
  //    'timestamp': '%d-%m-%Y %H:%M:%S',
  //    'value': number
  //  }], ...
  // ]
  sensor_list = sensor_list.map(sensor => ({ ...sensor, 'data': sensor.data.map(observation => ({ ...observation, timestamp: parseTime(observation.timestamp)})) } ));

  // Declare the chart dimensions and margins.
  const width = 1000;
  const height = 800;
  const marginTop = 20 + sensor_list.length * 20;
  const marginRight = 20;
  const marginBottom = 230;
  const marginLeft = 40;

  const allTimestamps = sensor_list.flatMap(sensor => sensor.data.map(observation => observation.timestamp));
  const timeExtent = d3.extent(allTimestamps)
  // Get date range in the observations
  const x = d3.scaleUtc(timeExtent, [marginLeft, width - marginRight]);

  // Create the SVG container.
  const svg = d3.create("svg")
      .attr("width", width)
      .attr("height", height)
      .on("pointerenter", pointerentered)
      .on("pointermove", pointermoved)
      .on("pointerleave", pointerleft);

  // Add the x-axis.
  svg.append("g")
      .attr("transform", `translate(0,${height - marginBottom})`)
      .call(d3.axisBottom(x));

  const day_lines = svg.append("g");
  const days = d3.timeDay.every(1).range(timeExtent[0], timeExtent[1]); // [2015-01-01T00:00, 2015-01-03T00:00, 2015-01-05T00:00]

  days.forEach(day => {
    let line_x = x(day);

    day_lines.append("line")
        .attr("x1", line_x)
        .attr("y1", marginTop)
        .attr("x2", line_x)
        .attr("y2", height-marginBottom)
        .attr("stroke", 'grey')
        .attr("stroke-width", .25)
        .attr("stroke-dasharray", 1);
  })

  const legend = svg.append("g")
      .attr("transform", `translate(0, 0)`);

  const graph_lines = [];

  sensor_list.forEach((sensor, sensor_index) => {
    
    // // Get minimum value in the data set
    // const data_min = d3.min(sensor.data, o => o.value);
    // // Get maximum value in the data set
    // const data_max = d3.max(sensor.data, o => o.value);
    // const padding = (data_max - data_min) * .05;
    
    const color = colors.shift();
    let y;

    if (sensor.sensor.unit in unit_ranges) {
      y = d3.scaleLinear(
        [unit_ranges[sensor.sensor.unit][0], unit_ranges[sensor.sensor.unit][1]],
        // [sensor.range.min, sensor.range.max],
        [height - marginBottom, marginTop]);
    }
    else {
      // Declare the y (vertical position) scale.
      y = d3.scaleLinear(
        [sensor.range.min, sensor.range.max],
        // [sensor.range.min, sensor.range.max],
        [height - marginBottom, marginTop]);

    }

    
    // Declare the line generator.
    const line = d3.line()
        .x(o => x(o.timestamp))
        .y(o => y(o.value));
  
    // Calculate x values for all entries in the dataset.
    // Used in cursor interaction.
    const x_values = d3.map(sensor.data, o => x(o.timestamp));
  
    // Add the y-axis.
    // svg.append("g")
    //     .attr("transform", `translate(${marginLeft},0)`)
    //     .call(d3.axisLeft(y));

    // Append a path for the line.
    svg.append("path")
        .attr("fill", "none")
        .attr("stroke", color)
        .attr("stroke-width", 1.75)
        .attr("d", line(sensor.data));
 

    const legend_entry = legend.append("g")
        .attr('transform', `translate(0, ${ 10 + sensor_index * 20 })`);

    legend_entry.append("line")
        .attr("x1", 0)
        .attr("y1", 0)
        .attr("x2", 20)
        .attr("y2", 0)
        .attr("stroke", color)
        .attr("stroke-width", 4);

    const legend_label = legend_entry.append("text")
        .attr("font-family", "sans-serif")
        .attr("font-size", 10)
        .attr("text-anchor", "left")
        .attr("x", 25)
        .attr("y", 4);
    
    const set_legend_label = (date, value) => {
      if (date !== undefined && value !== undefined) {
        legend_label.text(`${ sensor.sensor.name }, ${ sensor.sensor.unit }: ${ formatTime(date) } - ${ value }`)
      }
      else {
        legend_label.text(`${ sensor.sensor.name }, ${ sensor.sensor.unit }`) 
      }
    }

    set_legend_label();

    const indicator = svg.append("g")
        .attr("display", "none")
        .attr("pointer-events", "none");
  
    indicator.append("line")
        .attr("x1", 0)
        .attr("y1", marginTop)
        .attr("x2", 0)
        .attr("y2", height-marginBottom)
        .attr("stroke", color)
        .attr("stroke-width", .5)
        .attr("stroke-dasharray", 4);
  
    const dot = svg.append("g")
        .attr("display", "none")
        .attr("pointer-events", "none");
  
    dot.append("circle")
        .attr("r", 2.5)
        .attr("fill", color);
  
    const dateLabel = dot.append("text")
        .attr("font-family", "sans-serif")
        .attr("font-size", 10)
        .attr("text-anchor", "middle")
        .attr("y", -24);
  
    const valueLabel = dot.append("text")
        .attr("font-family", "sans-serif")
        .attr("font-size", 14)
        .attr("text-anchor", "middle")
        .attr("y", -8);

    graph_lines.push({
      'x_values': x_values,
      'y': y,
      'data': sensor.data,
      'dot': dot,
      'indicator': indicator,
      'valueLabel': valueLabel,
      'set_legend_label': set_legend_label
    })
  });

 
  // Append the SVG element.
  container.append(svg.node());

  function pointermoved(event) {
    const [xm, ym] = d3.pointer(event);
    
    graph_lines.forEach(line => {
      const closest_observation_index = d3.least(d3.range(line.x_values.length), i => Math.abs(line.x_values[i]-xm));
      const closest_observation = line.data[closest_observation_index];
      if (closest_observation) {
        line.dot.attr("transform", `translate(${line.x_values[closest_observation_index]},${line.y(closest_observation.value)})`);
        line.indicator.attr("transform", `translate(${line.x_values[closest_observation_index]}, 0)`);
        line.valueLabel.text(closest_observation.value);
        line.set_legend_label(closest_observation.timestamp, closest_observation.value)
      }
    });
    // dateLabel.text(formatTime(closest_observation.timestamp))
  }

  function pointerentered() {
    graph_lines.forEach(line => {
      line.dot.attr("display", null);
      line.indicator.attr("display", null);
      line.valueLabel.attr("display", null);
    });
  }

  function pointerleft() {
    graph_lines.forEach(line => {
      line.dot.attr("display", "none");
      line.indicator.attr("display", "none");
      line.valueLabel.attr("display", "none");
    });
  }


</script>