{% load static %}
{% load mathfilters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tree stories</title>
    <link rel="stylesheet" href="{% static '/css/reset.css' %}">
    <style>
        /* layout */
        body{
            font-family: monospace;
            font-size: 0.825rem;
        }

        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .cell{
            padding: 1em;
        }
        .range{
            background-color: whitesmoke;
            border-bottom: 1px solid black;
        }

        .tree{
            height: 50vw;
            background-color: white;
            position: relative;
        }
        .tree img{
            position: absolute;
            bottom: 0;
            right: 0;
            height: 50%;
            width: auto;
            z-index: 0;
        }

        /* info table*/
        h2, th{
            font-weight: bold;
            text-align: left;
            background-color: gainsboro;
        }
        table{
            background-color: whitesmoke;
            margin: 1em 0;
            width: 100%;
        }
        tr:nth-of-type(odd){
            background-color: white;
        }
        td:not(:first-child),
        th:not(:first-child){
            padding-left: 2em;
        }


        .used{
            background-color: yellow !important;
        }

    </style>
    <link rel="stylesheet" href="{% static '/css/clock.css' %}">

</head>
<body class="">
    <div class="grid">

        {% for range_name, range in ranges.items %}
        <div class="cell range">
            <h2>{{range_name}} range (every trees)</h2>
            
            {% if range_name == 'today' %}
            <table>
                <tr><th>from</th><th>to</th></tr>
                <tr><td>{{dates.1}}</td><td>{{dates.0}}</td></tr>
            </table>
            {% elif range_name == 'global' %}
            <table>
                <tr><th>from</th><th>to</th></tr>
                <tr><td>{{dates.2}}</td><td>{{dates.1}}</td></tr>
            </table>
            {% endif %}

            <table>
                {% for sensor_key, extremums in range.items %}
                    {% if forloop.first %}
                    <tr>
                        <th>sensors</th>
                        {% for  extremum_name, extremum in extremums.items %}
                            <th>{{extremum_name}}</th>
                        {% endfor %}
                    </tr>
                    {% endif %}
                {% endfor %}
                {% for sensor_key, extremums in range.items %}
                    {% if not 'pressure' in sensor_key and not 'system' in sensor_key and not 'decentlab' in sensor_key %}
                    <tr {% if range_name == "global" %}
                            {% if "humidity" in sensor_key or "temperature" in sensor_key or "moisture" in sensor_key %}
                                class="used"
                            {% endif %}
                        {% endif %}>
                        <td>{{sensor_key}}</td>
                        {% for extremum_name, extremum in extremums.items %}
                            <td>{{extremum|floatformat:3}}</td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
        {% endfor %}

        {% for tree in trees %}
        <div class="cell">
            
            <h2>{{tree.local_name}} (today, this tree)</h2>

            <table>
                <tr>
                    <th>sensors</th>
                    <th>unit</th>
                    <th>min</th>
                    <th>max</th>
                    <th>average</th>
                    <th>last</th>
                    <th>amount</th>
                </tr>
                {% for sensor_key, sensor_clock in tree.clock.items %}
                    {% if not 'pressure' in sensor_key and not 'system' in sensor_key and not 'decentlab' in sensor_key %}
                    <tr {% if "co2" in sensor_key or "circular" in sensor_key %}
                            class="used"
                        {% endif %}>
                        <td>{{sensor_key}}</td>
                        <td>{{sensor_clock.unit}}</td>
                        <td>{{sensor_clock.min}}</td>
                        <td>{{sensor_clock.max}}</td>
                        <td>{{sensor_clock.average}}</td>
                        <td>{{sensor_clock.last}}</td>
                        <td>{{sensor_clock.serie|length}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>

            <div class="tree clock">
                {% for sensor_key, sensor_clock in tree.clock.items %}
                    {% if not 'pressure' in sensor_key and not 'system' in sensor_key and not 'decentlab' in sensor_key %}

                    <div    class="layer {{sensor_clock.classes|join:' ' }}"
                            style="--m: {{sensor_clock.remapped|length}};">
                        {% for handle in sensor_clock.remapped %}
                            <div    class="handle {% if handle.v < 0 %}negative{% endif %}" 
                                    style="
                                    --s: {{handle.v|abs}}; 
                                    --v: {{handle.v}}; 
                                    --i: {{forloop.counter0}};
                                    --o: {{handle.o}};
                                    --a: {{handle.a}}
                                    "></div>
                        {% endfor %}
                    </div>

                    {% endif %}
                {% endfor %}

                <img src="/static/img/{{tree.local_name}}.jpg">
            </div>

        </div>
        {% endfor %}

    </div>
</body>
</html>