:root{
    /* --c-active: hsl(72, 100%, 50%);
    --c-map: hsl(20, 70%, 35%); */

    /* taking back some color of the clock */
    --c-active: rgb(170,255,0);
    --c-alternate: saddlebrown;

    --c-ligth-back: whitesmoke;
    --c-dark-back: #333;
    --c-translucent: rgba(245,245,245,0.7);
    --c-main: black;
    --c-background: white;
    
    --fs-small: 0.8rem;
    --fs-big: 1.2rem; /* for desktop styled index page Authentic sans condensed */
    --fs-computer-small: 2.5rem;
    --fs-computer-logo: min(12vw, 4rem);

    --pad-v: 0.3rem;
    --border: 1px solid var(--c-dark-back);
    --bleed: 6mm;
}

body {
    background-color: var(--c-background);
    color: var(--c-main);
}

/* 4 period colors */
.day{
    --c-background: white;
    --c-main: black;
}
.night{
    --c-background: black;
    --c-ligth-back: rgb(102, 81, 81);
    --c-dark-back: #f6d2d2;
    --c-main: #bccca0;
    --c-alternate: #e3e27e;
    --border: 1px solid var(--c-dark-back);
}
.sunrise{
    background-color: Coral;
    color: black;  
    --c-active: saddlebrown;
}
.sunset{
    background-color: LightPink;
    color: black;  
    --c-active: saddlebrown;
}


/*  GLOBAL INTERFACE STYLING
    ----------------------------------------------------- */

html{
    scroll-behavior: smooth;

    /* make sure that everybody can read this */
    /* 
        because you're jumping between looking far outside and looking at a screen
        the guide should be a transition into that 
    */
    font-size: 1.2em;
    font-family: 'Authentic-sans-condensed';
}

body{
    font-size: inherit;
    line-height: 1.35;
    padding: 2rem 1rem 2rem 1rem;
}
body > main{
    position: relative;
}

a{
    color: currentColor;
    text-decoration: underline;
}
small{
    font-size: var(--fs-small);
}

/* for project name and view names */
h1
{
    font-family: 'Computer';
    font-style: normal;
    text-transform: lowercase;
    font-size: var(--fs-computer-logo);
    font-weight: bold;
    letter-spacing: 0.15em;
    line-height: 1.15;
	text-align: center;
	paint-order: stroke;
	-webkit-text-stroke: 0.025em currentColor;
    color: var(--c-active);
}

h2, h3, strong{
    font-weight: bold;
}

h2{
    text-decoration: underline;
    text-align: center;
}
* + h2{
    margin-top: 4rem;
}

h3 + p{
    margin-top: 0;
}
* + h3{
    margin-top: 2rem;
}
* + p{
    margin: 0.5em 0;
}

hr{
    border: none;
    margin: 1em 0 4em;
    border-bottom: var(--border);
}

/* for tree names */
em{
    font-weight: bold;
}


@media screen and (max-width: 769px) {
    * + h2{
        margin-top: 2rem;
    }
    
    h3 + p{
        margin-top: 0;
    }
    * + h3{
        margin-top: 1rem;
    }
}

/*  TEXT LAYOUT
    ----------------------------------------------------- */

.text{
    max-width: 85ch;
}
.text  ul{
    padding-left: 1.25em;
    position: relative;
}
.text  ul li::before{
    content: '>';
    position: absolute;
    left: 0;
    z-index: 0;
}
.about .text a,
.story .text a,
.index .text a{
    text-decoration: underline;
    color: var(--c-alternate);
}
.text img{
    display: block;
    max-width: min(100%, 12rem);
    margin: 1em auto;
}
.text dl{
    margin-top: 0.5em;
}
.text dd{
    padding-left: 1.25rem;
    margin-bottom: 0.5em;
    position: relative;
    z-index: 0;
}
.text dd::before{
    content: '>';
    position: absolute;
    left: 0;
    z-index: 0;
}
.text section{
    padding-top: 1em;
    padding-bottom: 3em;
}

.text section.about {
    color: var(--c-alternate);
}

/*  TAB NAVIGATION
    ----------------------------------------------------- */

nav{
    position: sticky;
    top: 0;
    z-index: 999;
}
nav ul{
    display: flex;
    border-bottom: var(--border);
}
nav ul li{
    flex-basis: 0;
    flex-shrink: 1;
    flex-grow: 1;
    margin: 0 !important;
}
nav ul li a{
    display: block;
    background-color: var(--c-ligth-back);
    padding: var(--pad-v) 0.5rem;
    text-align: center;
    color: var(--c-dark-back);
}
nav ul li form {
    display: flex;
    background-color: var(--c-ligth-back);
    padding: var(--pad-v) 0.5rem;
    text-align: center;
}
nav ul li form button {
    flex: 1 0;
    background: none;
    border: none;
    font: inherit;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li:not(:last-of-type) a,
nav ul li:not(:last-of-type) form{
    border-right: var(--border);
}
nav .back::before{
    content: '<\00a0\00a0';
    font-weight: normal;
}
nav li.active{
    color: var(--c-active);
}
nav h1{
    background-color: var(--c-dark-back);
    color: white;
    margin: 0;
    padding: var(--pad-v) 0.5rem 0rem;
    font-size: var(--fs-computer-small);
}

nav.lang{
    /* font-size: var(--fs-small); */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    color: var(--c-main);
}
nav.lang ul{
    border-bottom: none;
    border-top: var(--border);
}
nav.lang ul li:before {
    content: '';
}

/*  DETAILS TAG
    ----------------------------------------------------- */

summary{
    background-color: var(--c-ligth-back);
    padding: var(--pad-v) 1rem;
    cursor: pointer;
    text-align: center;
    border-bottom: var(--border);
}
details summary + div{
    padding: 1em;
    font-size: var(--fs-small);
}

body > main > details:first-child{
    margin-top: 1px;
    position: absolute;
    top: 0;
    z-index: 999;
    left: 0;
    right: 0;
}
details[open]{
    position: absolute;
    inset: 0;
    background: rgba(255,255,255,0.75);
    backdrop-filter: blur(0.4em);
    z-index: 14;
}

/*  INDEX SPECIFIC
    ----------------------------------------------------- */

body.index{
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 100vh;

    /* nice readability */
    font-size: var(--fs-big);
    line-height: 1.45;

    --top-pad: calc(4 * 1.15 * var(--fs-computer-logo));
}
.index-map{
    position: fixed;
    top: 0;
    right: 0;
    left: 50%;
    height: 100vh;
    overflow: hidden;
    border-left: var(--border);
}

body[lang="nl"] section[lang="en"] {
    display: none;
}

body[lang="en"] section[lang="nl"] {
    display: none;
}
